<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <title>기동대 Main</title>

<head>

    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">


    <style>

    .wrap{
        max-width: 1200px;
        width: 95%;
        margin: 20px auto 20px auto;
    }
    .outline{
        border-left-style: dotted;
        border-color: darkgray;
    }
    .card-img-top{
        border-radius: 20px; <!--원은 50%-->
    }
    .card-body{
        position: relative;
    }
    .card-body > button{
        width: 100px;
        height: 35px;
        right: 10px;
        bottom: 5px;
        position: absolute;
    }
    .email{
        font-size: small;
    }

    </style>

    <script>

    </script>


</head>


<body>

<div class="wrap">

    <div  class="row row-cols-1 row-cols-md-5 g-3">

      <div class="col">
            <div class="card border-light mb-3 text-center h-100">
                <div class="card-img">
              <img src="https://ca.slack-edge.com/T043597JK8V-U045RJEFMSM-68ffb26ac791-512" class="card-img-top" alt="...">
                    </div>
              <div class="card-body">
                  <h4 class="card-title"><strong>대  장</strong></h4>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h5><strong>이   기   동</strong></h5></li>
                    <li class="list-group-item">
                        <span class="email" style="font-family: 'Dongle', sans-serif; font-family: 'Nanum Gothic', sans-serif;">
                            📧</br>
                            dlrlehd7@daum.net
                        </span>
                    </li>
                    <button type="button" onclick="window.open('url');" class="btn text-white" style="background-color: deepskyblue;">introduce</button>
                  </ul>
              </div>
            </div>
          </div>

      <div class="col outline">
            <div class="card border-light mb-3 text-center h-100">
                <div class="card-img">
              <img src="https://ca.slack-edge.com/T043597JK8V-U045RA9GKS5-74cf7c59e4c2-512" class="card-img-top" alt="...">
                    </div>
              <div class="card-body">
                  <h4 class="card-title"><strong>대  원</strong></h4>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h5><strong>최   영   진</strong></h5></li>
                    <li class="list-group-item">
                        <span class="email" style="font-family: 'Dongle', sans-serif; font-family: 'Nanum Gothic', sans-serif;">
                            📧</br>
                            cmaw@naver.com
                        </span>
                    </li>
                    <button type="button" onclick="window.open('url');" class="btn text-white" style="background-color: black;">introduce</button>
                  </ul>
              </div>
            </div>
          </div>
      <div class="col outline">
            <div class="card border-light mb-3 text-center h-100">
                <div class="card-img">
              <img src="https://ca.slack-edge.com/T043597JK8V-U046T1Y768K-675b39a15319-512" class="card-img-top" alt="...">
                    </div>
              <div class="card-body">
                  <h4 class="card-title"><strong>대  원</strong></h4>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h5><strong>손   강   익</strong></h5></li>
                    <li class="list-group-item">
                        <span class="email" style="font-family: 'Dongle', sans-serif; font-family: 'Nanum Gothic', sans-serif;">
                            📧</br>
                            rkddlr9422@gmail.com
                        </span>
                    </li>
                    <button type="button" onclick="window.open('url');" class="btn text-white" style="background-color: green;">introduce</button>
                  </ul>
              </div>
            </div>
          </div>
      <div class="col outline">
            <div class="card border-light mb-3 text-center h-100">
                <div class="card-img">
              <img src="https://ca.slack-edge.com/T043597JK8V-U046QT0TJUU-f1ed149d22f3-512" class="card-img-top" alt="...">
                    </div>
              <div class="card-body">
                  <h4 class="card-title"><strong>대  원</strong></h4>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h5><strong>홍   희   진</strong></h5></li>
                    <li class="list-group-item">
                        <span class="email" style="font-family: 'Dongle', sans-serif; font-family: 'Nanum Gothic', sans-serif;">
                            📧</br>
                            panda4859@gmail.com
                        </span>
                    </li>
                    <button type="button" onclick="window.open('url');" class="btn text-white" style="background-color: #FEDB39;">introduce</button>
                  </ul>
              </div>
            </div>
          </div>
      <div class="col outline">
            <div class="card border-light mb-3 text-center h-100">
                <div class="card-img">
              <img src="https://ca.slack-edge.com/T043597JK8V-U046BCLRRB9-299935bf9015-512" class="card-img-top" alt="...">
                    </div>
              <div class="card-body">
                  <h4 class="card-title"><strong>대  원</strong></h4>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h5><strong>홍   다   경</strong></h5></li>
                    <li class="list-group-item">
                        <span class="email" style="font-family: 'Dongle', sans-serif; font-family: 'Nanum Gothic', sans-serif;">
                            📧</br>
                            hdkpp89@gmail.com
                        </span>
                    </li>
                    <button type="button" onclick="window.open('url');" class="btn text-white" style="background-color: #8D72E1;">introduce</button>
                  </ul>
              </div>
            </div>
          </div>


</body>
</html>